.sideBarLeft {
  /* height: 100%; */
  display: flex;
  justify-content: flex-end;
}
.sideBarLeft-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
  /* margin-left: 1.5rem; */
}
.sideBarLeft__link {
  margin: 5px;
  padding: 5px 12px;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  /* width: fit-content; */
  border-radius: 8px;
  text-decoration: none;
  color: black;
  transition: all 0.3s;
  /* font-weight: 300; */
}
.sideBarLeft__link:hover {
  background-color: #eeeeee;
}
@media (max-width: 650px) {
  .sideBarLeft-container {
    border-top: 1px solid var(--color-border);
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    top: initial;
    justify-content: space-around;
    margin: 0;
    height: initial;
  }
}
