.profile__container {
  display: flex;
  flex-direction: row;
}
/* NOTE: this needs to be fixed */
.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* border: 1px solid var(--color-border); */
}
.profile__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 13px;
  margin-top: -5%;
}

.profile__container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.profile__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.profile__cover-image {
  width: 100%;
  padding-bottom: 33.3333%;
  background-color: rgb(207, 217, 222);
  position: relative;
  background-size: cover;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.profile__avatar-container {
  width: 25%;
  min-width: 70px;
  max-width: 156px;
  height: auto;

  position: relative;
  z-index: 10;
  display: block;
  align-items: center;
  justify-content: center;
}
.profile__avatar {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  border-radius: var(--border-radius-rounded);
  border: 5px solid var(--color-background);
}
.profile__name {
  font-size: var(--font-size-5);
  text-wrap: nowrap;
}
.profile__connect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
  /* display: none; */
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.profile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .profile__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  /* .profile__header { */
  /*   flex-direction: row; */
  /* } */
  .profile__container {
    flex-direction: row;
  }
}
/* @media (min-width: 400px) { */
/*   .profile__img { */
/*     max-width: 128px; */
/*   } */
/* } */
.profile__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: var(--border-radius-rounded);
  border: 1px solid var(--color-border);
}
.profile-bio {
  margin-top: 30px;
  margin-left: 10px;
}
.profile__tablist {
  margin-inline: 10px;
  display: flex;
  gap: 10px;
  justify-content: start;
  margin-top: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.profile__tablist::-webkit-scrollbar {
  display: none;
}
.profile__tab {
  padding: 10px;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}
.profile__tab:active {
  background-color: var(--color-primary);
  color: white;
}
.profile__tab-active {
  background-color: var(--color-primary);
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
}
